{% load static %}
<footer>
    <div class="footer-container">
        <div class="footer-flex">
            <div class="footer-logo">
                <img src="{% static 'images/logo.png' %}" alt="Luxor Motors">
            </div>

            <div class="footer-info">
                <p class="copyright">&copy; 2026 LUXOR MOTORS - TODOS LOS DERECHOS RESERVADOS</p>
            </div>

            <div class="social-links">
                <a href="#">INSTAGRAM</a>
                <span class="separator"> </span>
                <a href="#">WHATSAPP</a>
            </div>
            <div class="social-links">
                <a href="/admin/" title="PANEL INTERNO">
                    🔒
                </a>
            </div>
        </div>
    </div>
</footer>